In [87]:
import pandas as pd
import numpy as np
import openpyxl

In [88]:
a = [1,2,3,4,5]
b = [3,2,3,4,5]
c = [5,2,3,4,5]
d = [7,2,3,4,5]

In [89]:
# sales = {
#     'a':a,'b':b,'c':c,'d':d,
# }
# df1 = pd.DataFrame([a,b,c,d],columns=['a','b','c','d','e'])
df1 = pd.DataFrame([a,b,c,d])
# print(df1)
df1 = df1.T
df1.columns = ['a','b','c','d']
print(df1)
add = [1,1,1,1]
addD = {'a':1,'b':2,'c':3,'d':4}
df1 = df1.append(addD,ignore_index=True)
df2 = df1
df1 = df1.append(df2,ignore_index=True)
print(df1.index)
print(df1.columns)
for i in df1.index:
    print(i)
df3 = pd.DataFrame([[1,2,3],[2,3,4]],columns=['a','b','c'])
df3.index = ['A','B']
df3

   a  b  c  d
0  1  3  5  7
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5
RangeIndex(start=0, stop=12, step=1)
Index(['a', 'b', 'c', 'd'], dtype='object')
0
1
2
3
4
5
6
7
8
9
10
11

   a  b  c
A  1  2  3
B  2  3  4

In [91]:
s = np.random.rand(6).reshape(2,3)
s

array([[0.58827685, 0.29493874, 0.47635794],
       [0.24030614, 0.12899508, 0.10418655]])

In [92]:
data = [{"one":1,"two":2},{"one":5,"two":10,"three":15}]
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data, index = ["a", "b"])
df3 = pd.DataFrame(data, columns = ["one", "two"])
df4 = pd.DataFrame(data, columns = ["one", "two", "three"])
df5 = pd.DataFrame(data, columns = ["one", "two", "three", "fff"])
print(df1)
print()
print(df2)
print()
print(df3)
print()
print(df4)
print()
print(df5)

   one  two  three
0    1    2    NaN
1    5   10   15.0

   one  two  three
a    1    2    NaN
b    5   10   15.0

   one  two
0    1    2
1    5   10

   one  two  three
0    1    2    NaN
1    5   10   15.0

   one  two  three  fff
0    1    2    NaN  NaN
1    5   10   15.0  NaN

In [ ]:
data = {
    "Jack":{"math":90, "english":89, "art":78},
    "Marry":{"math":82, "english":95, "art":96},
    "Tom":{"math":85, "english":94}
}
df1 = pd.DataFrame(data)
print(df1)
print()

df2 = pd.DataFrame(data, columns = ["Jack", "Tom", "Bob"])
print(df2)
print()

df3 = pd.DataFrame(data, index = ["a", "b", "c"], columns = ["Jack", "Tom", "Bob"])
# AttributeError: 'list' object has no attribute 'astype'
print(df3)
print()
df4 = pd.DataFrame(data, index = ["art", "math", "english"], columns = ["Jack", "Tom", "Bob"])
print(df4)
print()

print(df1["Jack"])
print(df1.loc["art"])